<a href="https://colab.research.google.com/github/MuttakiIslamBismoyBracu18/Data-Engineering/blob/main/Data_Analysis_%26_Manipulation_with_Pandas_Qns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a name='0'></a>
# Data Manipulation with Pandas

 In this tutorial, you will learn how to manipulate data with Pandas. Here is an overview:

* [1. Basics of Pandas for data manipulation:](#1)

     * [A. Series and DataFrames](#1-1)
     * [B. Data Indexing and Selection, and Iteration](#1-2)
     * [C. Dealing with Missing data](#1-3)
     * [D. Basic operations and Functions](#1-4)
     * [E. Aggregation Methods](#1-5)
     * [F. Groupby](#1-6)
     * [G. Merging, Joining and Concatenate](#1-7)
     * [H. Beyond Dataframes: Working with CSV, and Excel](#1-8)
     
* [2. Real World Exploratory Data Analysis (EDA)](#2)

<a name='1'></a>
## 1. Basics of Pandas for data manipulation

<a name='1-1'></a>
### A. Series and DataFrames

Both series and DataFrames are Pandas Data structures.

Series is like one dimensional NumPy array with axis labels.

DataFrame is multidimensional NumPy array with labels on rows and columns.

Working with NumPy, we saw that it supports numeric type data. Pandas on other hand supports whole range of data types, from numeric to strings, etc..

Since we are using python notebook, we do not need to install Pandas. We only just have to import it.

```
import pandas as pd
```

In [ ]:
# importing numpy and pandas

import numpy as np
import pandas as pd

#### Creating Series

Series can be created from a Python list, dictionary, and NumPy array.

In [ ]:
# Creating the series from a Python list

num_list = [1,2,3,4,5]

pd.Series(num_list)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
week_days = ['Mon','Tues','Wed','Thur','Fri']

pd.Series(week_days, index=["a", "b", "c", "d", "e"])

a     Mon
b    Tues
c     Wed
d    Thur
e     Fri
dtype: object

Note the data types `int64` and `object`.

In [ ]:
# Creating the Series from dictionary

countries_code = {1 : 'USA', 880 : 'Bangladesh', 33: 'France', 886: 'Taiwan', 385: 'Croatia' }

pd.Series(countries_code)

1             USA
880    Bangladesh
33         France
886        Taiwan
385       Croatia
dtype: object

In [ ]:
d = {1:'a', 2:'b', 3:'c', 4:'d'}
pd.Series(d)

1    a
2    b
3    c
4    d
dtype: object

In [ ]:
# Creating the Series from NumPy array
# We peovide the list of indexes
# if we don't provide the indexes, the default indexes are numbers...starts from 0,1,2..

arr = np.array ([1, 2, 3, 4, 5])
pd.Series(arr)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
pd.Series(arr, index=['a', 'b', 'c', 'd', 'e'])

a    1
b    2
c    3
d    4
e    5
dtype: int64

#### Creating DataFrames

DataFrames are the most used Pandas data structure. It can be created from a dictionary, 2D array, and Series.

In [ ]:
# Creating DataFrame from a dictionary

countries = {'Name': ['USA', 'Bangladesh', 'France', 'Taiwan', 'Croatia'],

             'Codes':[1, 880, 33, 886, 385] }

pd.DataFrame(countries) # Task 0: create the dataframe

         Name  Codes
0         USA      1
1  Bangladesh    880
2      France     33
3      Taiwan    886
4     Croatia    385

In [ ]:
# Creating a dataframe from a 2D array
# You pass the list of columns

array_2d = np.array ([[1,2,3], [4,5,6], [7,8,9]])

pd.DataFrame(array_2d, columns = ['column 1', 'column 2', 'column 3'])

   column 1  column 2  column 3
0         1         2         3
1         4         5         6
2         7         8         9

In [ ]:
# Creating a dataframe from Pandas series
# Pass the columns in a list

countries_code = {}

pd_series = pd.Series (countries_code)

pd.Series(countries_code)

df = pd.DataFrame(pd_series, columns = ['Codes'])
df

Empty DataFrame
Columns: [Codes]
Index: []

In [ ]:
# Adding a column
# Number in population are pretty random

df ['Population'] = [50, 1500, 100, 10, 4]

df

  Codes  Population
0   NaN          50
1   NaN        1500
2   NaN         100
3   NaN          10
4   NaN           4

In [ ]:
# Removing a column

df.drop('Population', axis =1)

In [ ]:
df.columns

In [ ]:
df.keys

In [ ]:
df.index

<a name='1-2'></a>
### B. Data Indexing, Selection and Iteration

Indexing and selection works in both Series and Dataframe.

Because DataFrame is made of Series, let's focus on how to select data in DataFrame.

In [ ]:
# Creating DataFrame from a dictionary

countries = {'Name': ['USA', 'Bangladesh', 'France', 'Taiwan', 'Croatia'],

             'Codes':[1, 880, 33, 886, 385] }

df = pd.DataFrame(countries, index=['a', 'b', 'c', 'd', 'e'])
df

         Name  Codes
a         USA      1
b  Bangladesh    880
c      France     33
d      Taiwan    886
e     Croatia    385

In [ ]:
df['Name']

a           USA
b    Bangladesh
c        France
d        Taiwan
e       Croatia
Name: Name, dtype: object

In [ ]:
df.Name

a           USA
b    Bangladesh
c        France
d        Taiwan
e       Croatia
Name: Name, dtype: object

In [ ]:
df ['Codes']

a      1
b    880
c     33
d    886
e    385
Name: Codes, dtype: int64

In [ ]:
## When you have many columns, columns in list will be selected

df [['Name', 'Codes']]

         Name  Codes
a         USA      1
b  Bangladesh    880
c      France     33
d      Taiwan    886
e     Croatia    385

In [ ]:
# This will return the first two rows
df [0:2]

         Name  Codes
a         USA      1
b  Bangladesh    880

You can also use `loc` to select data by the label indexes and `iloc` to select by default integer index (or by the position of the row)

In [ ]:
df.loc['a':'d':2]

     Name  Codes
a     USA      1
c  France     33

In [ ]:
df.loc[]

In [ ]:
df []

In [ ]:
df.iloc[]

In [ ]:
df.iloc[]

In [ ]:
df.iloc[]

### Conditional Selection

In [ ]:
df

In [ ]:
#Let's select a country with code ?

df [df['Codes'] == ]

In [ ]:
df [df['Codes'] <  ]

In [ ]:
df [df['Name'] == ]

In [ ]:
# You can use and (&) or (|) for more than conditions
#df [(condition 1) & (condition 2)]

df [(df['Codes'] == 91 ) & (df['Name'] == '') ]

You can also use `isin()` and `where()` to select data in a series or dataframe.

In [ ]:
# isin() return false or true when provided value is included in dataframe
sample_codes_names=[1,3,250, '', '', '']

df.isin(sample_codes_names)

As you can see, it returned `True` wherever a country code or name was found. Otherwise, `False`. You can use a dictinary to match search by columns. A key must be a column and values are passed in list.

In [ ]:
sample_codes_names = {'Codes':[1,3,250], 'Name':['', '', '']}

df.isin(sample_codes_names)

In [ ]:
df2 = pd.DataFrame(np.array ([[1,2,3], [4,5,6], [7,8,9]]),
                   columns = ['column 1', 'column 2', 'column 3'])

df2

In [ ]:
df2.isin([0,3,4,5,7])

In [ ]:
df2 [df2 > 4]

In [ ]:
df2.where(df2 > 4)

`where` allows you to replace the values that doesn't meet the provided condition with any other value. So, if we do `df2.where(df2 > 4, 0)` as follows, all values less than `4` will be replaced by `0`.

In [ ]:
df2.where(df2 > 4, 0)

Similarly, we can achieve the above by...

In [ ]:
df2 [df2 <= 4] = 0
df2

### Iteration

```
df.items() #Iterate over (column name, Series) pairs.
df.iteritems() Iterate over (column name, Series) pairs.
DataFrame.iterrows() Iterate over DataFrame rows as (index, Series) pairs.
DataFrame.itertuples([index, name]) Iterate over DataFrame rows as namedtuples.
```

In [ ]:
# Iterate over (column name, Series) pairs.

for col_name, content in df2.items():
    print(col_name)
    print(content)

In [ ]:
# Iterate over (column name, Series) pairs.
# Same as df.items()

for col_name, content in df2.iteritems():
    print(col_name)
    print(content)

In [ ]:
# Iterate over DataFrame rows as (index, Series) pairs

for row in df2.iterrows():
    print(row)

In [ ]:
# Iterate over DataFrame rows as namedtuples

for row in df2.itertuples():
    print(row)

Notes: Thanks to [Prit Kalariya](https://twitter.com/pritkalariya) for Contributing the Iteration part!

<a name='1-3'></a>
### C. Dealing with Missing data

Real world datasets are messy, often with missing values. Pandas replace NaN with missing values by default. NaN stands for not a number.

Missing values can either be ignored, droped or filled.

In [ ]:
# Creating a dataframe

df3 = pd.DataFrame(np.array ([[1,2,3], [4,np.nan,6], [7,np.nan,np.nan]]),
                   columns = ['column 1', 'column 2', 'column 3'])

#### Checking Missing values

In [ ]:
# Recognizing the missing values

df3.isnull().sum()

column 1    0
column 2    2
column 3    1
dtype: int64

In [ ]:
# Calculating number of the missing values in each feature

In [ ]:
# Recognizng non missig values

df3.notna()

   column 1  column 2  column 3
0      True      True      True
1      True     False      True
2      True     False     False

In [ ]:
df3.notna().?

#### Removing the missing values

In [ ]:
## Dropping missing values

df3.dropna(axis=1)

   column 1
0       1.0
1       4.0
2       7.0

All rows are deleted because dropna() will remove each row which have missing value.

In [ ]:
# you can drop NaNs in specific column(s)

df3['']

In [ ]:
# You can drop data by axis
# Axis = 1...drop all columns with Nans
# df3.dropna(axis='columns')

df3.dropna(axis=1)

In [ ]:
# axis = 0...drop all rows with Nans
# df3.dropna(axis='rows') is same

df3.dropna()

#### Filling the missing values

In [ ]:
# Filling Missing values

df3.fillna(0)

   column 1  column 2  column 3
0       1.0       2.0       3.0
1       4.0       0.0       6.0
2       7.0       0.0       0.0

In [ ]:

df3

   column 1  column 2  column 3
0       1.0       2.0       3.0
1       4.0       0.0       6.0
2       7.0       0.0       0.0

In [ ]:
# You can forward fill (ffill) or backward fill(bfill)
# Or fill a current value with previous or next value

df3(method='ffill')

In [ ]:
# Won't change it because the last values are NaNs, so it backward it

df3(method='bfill')

In [ ]:
# If we change the axis to columns, you can see that Nans at row 2 and col 2 is backfilled with 6

df3(method='bfill', axis='columns')

<a name='1-4'></a>
### D. More Operations and Functions

This section will show the more and most useful functions of Pandas.

In [ ]:
df4 = pd.DataFrame({'Product Name':['Shirt','Boot','Bag'],
              'Order Number':[45,56,64],
              'Total Quantity':[10,5,9]},
              columns = ['Product Name', 'Order Number', 'Total Quantity'])

#### Retrieving basic info about the Dataframe

In [ ]:
# Return a summary about the dataframe

df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Product Name    3 non-null      object
 1   Order Number    3 non-null      int64
 2   Total Quantity  3 non-null      int64
dtypes: int64(2), object(1)
memory usage: 200.0+ bytes

In [ ]:
# Return dataframe columns

df4.columns

Index(['Product Name', 'Order Number', 'Total Quantity'], dtype='object')

In [ ]:
# Return dataframe data

df4.keys

<bound method NDFrame.keys of   Product Name  Order Number  Total Quantity
0        Shirt            45              10
1         Boot            56               5
2          Bag            64               9>

In [ ]:
# Return the head of the dataframe ....could make sense if you have long frame
# Choose how many rows you want in head()

df4.head(1)

  Product Name  Order Number  Total Quantity
0        Shirt            45              10

In [ ]:
# Return the tail of the dataframe

df4.tail(1)

  Product Name  Order Number  Total Quantity
2          Bag            64               9

In [ ]:
# Return NumPy array of the dataframe

df4.values

array([['Shirt', 45, 10],
       ['Boot', 56, 5],
       ['Bag', 64, 9]], dtype=object)

In [ ]:
# Return the size or number of elements in a dataframe

df4.size

9

In [ ]:
# Return the shape

df4.shape

(3, 3)

In [ ]:
# Return the length of the dataframe/the number of rows in a dataframe

df4.shape[0]

3

In [ ]:
# Return the length of the dataframe/the number of columns in a dataframe

df4.shape[1]

3

#### Unique Values

In [ ]:
# Return unique values in a given column

df4['Product Name'].unique()

array(['Shirt', 'Boot', 'Bag'], dtype=object)

In [ ]:
# Return a number of unique values
df4['Product Name'].nunique()

3

In [ ]:
# Counting the occurence of each value in a column

df4['Product Name'].value_counts()

Shirt    1
Boot     1
Bag      1
Name: Product Name, dtype: int64

#### Applying a Function to Dataframe

In [ ]:
# Double the quantity product

def double_quantity(x):
  return x * x

In [ ]:
df4['Total Quantity'].apply(double_quantity)

0    100
1     25
2     81
Name: Total Quantity, dtype: int64

In [ ]:
# You can also apply an anonymous function to a dataframe
# Squaring each value in dataframe

df5 = pd.DataFrame([[1,2], [4,5]], columns=['col1', 'col2'])

df5.applymap(lambda x: x**2)

   col1  col2
0     1     4
1    16    25

#### Sorting values in dataframe

In [ ]:
# Sort the df4 by the order number

df4.sort_values(['Order Number'])

  Product Name  Order Number  Total Quantity
0        Shirt            45              10
1         Boot            56               5
2          Bag            64               9

In [ ]:
df4.sort_values(['Order Number'], ascending=False)

  Product Name  Order Number  Total Quantity
2          Bag            64               9
1         Boot            56               5
0        Shirt            45              10

<a name='1-5'></a>
### E. Aggregation Methods

In [ ]:
df4

  Product Name  Order Number  Total Quantity
0        Shirt            45              10
1         Boot            56               5
2          Bag            64               9

In [ ]:
# summary statistics

df4.describe()

       Order Number  Total Quantity
count      3.000000        3.000000
mean      55.000000        8.000000
std        9.539392        2.645751
min       45.000000        5.000000
25%       50.500000        7.000000
50%       56.000000        9.000000
75%       60.000000        9.500000
max       64.000000       10.000000

In [ ]:

df4.describe().transpose()

                count  mean       std   min   25%   50%   75%   max
Order Number      3.0  55.0  9.539392  45.0  50.5  56.0  60.0  64.0
Total Quantity    3.0   8.0  2.645751   5.0   7.0   9.0   9.5  10.0

In [ ]:
# Mode of the dataframe
# Mode is the most recurring values

df4['Total Quantity'].mode()

0     5
1     9
2    10
dtype: int64

In [ ]:
# The maximum value

df4['Total Quantity'].max()

10

In [ ]:
# The minimum value

df4['Total Quantity'].min()

5

In [ ]:
# The mean

df4['Total Quantity'].mean()

8.0

In [ ]:
# The median value in a dataframe

df4['Total Quantity'].median()

9.0

In [ ]:
# Standard deviation

df4['Total Quantity'].std()

2.6457513110645907

In [ ]:
# Variance

df4['Total Quantity'].var()

7.0

In [ ]:
# Sum of all values in a column

df4['Total Quantity'].sum()

24

In [ ]:
# Product of all values in dataframe

df4['Total Quantity'].prod()

450

<a name='1-6'></a>
### F. Groupby

`Group by` involves splitting data into groups, applying function to each group, and combining the results.

In [ ]:
df4 = pd.DataFrame({'Product Name':['Shirt','Boot','Bag', 'Ankle', 'Pullover', 'Boot', 'Ankle', 'Tshirt', 'Shirt'],
              'Order Number':[45,56,64, 34, 67, 56, 34, 89, 45],
              'Total Quantity':[10,5,9, 11, 11, 8, 14, 23, 10]},
              columns = ['Product Name', 'Order Number', 'Total Quantity'])

In [ ]:
df4

In [ ]:
# Let's group the df by product name

df4.groupby('Product Name').mean()

In [ ]:
df4.groupby('Product Name').sum()

In [ ]:
df4.groupby('Product Name').min()

In [ ]:
df4.groupby('Product Name').max()

              Order Number  Total Quantity
Product Name
Ankle                   34              14
Bag                     64               9
Boot                    56               8
Pullover                67              11
Shirt                   45              10
Tshirt                  89              23

In [ ]:
df4.groupby(['Product Name', 'Order Number']).max()

                           Total Quantity
Product Name Order Number
Ankle        34                        14
Bag          64                         9
Boot         56                         8
Pullover     67                        11
Shirt        45                        10
Tshirt       89                        23

In [ ]:
df4.groupby(['Product Name', 'Order Number']).sum()

                           Total Quantity
Product Name Order Number
Ankle        34                        25
Bag          64                         9
Boot         56                        13
Pullover     67                        11
Shirt        45                        20
Tshirt       89                        23

You can also use `aggregation()` after groupby.

In [ ]:
df4.groupby('Product Name').aggregate(['min', 'max', 'sum'])

             Order Number          Total Quantity
                      min max  sum            min max sum
Product Name
Ankle                  34  34   68             11  14  25
Bag                    64  64   64              9   9   9
Boot                   56  56  112              5   8  13
Pullover               67  67   67             11  11  11
Shirt                  45  45   90             10  10  20
Tshirt                 89  89   89             23  23  23

<a name='1-7'></a>
### G. Combining Datasets: Concatenating, Joining and Merging

#### Concatenation

In [ ]:
# Creating dataframes

df1 = pd.DataFrame({'Col1':['A','B','C'],
                   'Col2':[1,2,3]},
                   index=['a','b','c'])

df2 = pd.DataFrame({'Col1':['D','E','F'],
                   'Col2':[4,5,6]},
                   index=['d','e','f'])


df3 = pd.DataFrame({'Col1':['G','I','J'],
                   'Col2':[7,8,9]},
                   index=['g', 'i','j'])

In [ ]:
df1

  Col1  Col2
a    A     1
b    B     2
c    C     3

In [ ]:
df2

  Col1  Col2
d    D     4
e    E     5
f    F     6

In [ ]:
df3

  Col1  Col2
g    G     7
i    I     8
j    J     9

In [ ]:
# Concatenating: Adding one dataset to another

pd.concat([df1, df2, df3])

  Col1  Col2
a    A     1
b    B     2
c    C     3
d    D     4
e    E     5
f    F     6
g    G     7
i    I     8
j    J     9

The default axis is `0`. This is how the combined dataframes will look like if we change the `axis to 1`.

In [ ]:
pd.concat([df1, df2, df3], axis=1)

  Col1  Col2 Col1  Col2 Col1  Col2
a    A   1.0  NaN   NaN  NaN   NaN
b    B   2.0  NaN   NaN  NaN   NaN
c    C   3.0  NaN   NaN  NaN   NaN
d  NaN   NaN    D   4.0  NaN   NaN
e  NaN   NaN    E   5.0  NaN   NaN
f  NaN   NaN    F   6.0  NaN   NaN
g  NaN   NaN  NaN   NaN    G   7.0
i  NaN   NaN  NaN   NaN    I   8.0
j  NaN   NaN  NaN   NaN    J   9.0

In [ ]:
# We can also use append()

df1.append([df2, df3])

  Col1  Col2
a    A     1
b    B     2
c    C     3
d    D     4
e    E     5
f    F     6
g    G     7
i    I     8
j    J     9

#### Merging

If you have worked with SQL, what `pd.merge()` does may be familiar. It links data from different sources (different features) and you have a control on the structure of the combined dataset.

*Pandas Merge method(`how`): SQL Join Name : Description*



```
* left : LEFT OUTER JOIN : Use keys or columns from left frame only

* right : RIGHT OUTER JOIN : Use keys or columns from right frame only

* outer : FULL OUTER JOIN : Use union of keys or columns from both frames

* inner : INNER JOIN : Use intersection of keys or columns from both frames
```

In [ ]:
df1 = pd.DataFrame({'Name': ['Joe', 'Joshua', 'Jeanne', 'David'],
                        'Role': ['Manager', 'Developer', 'Engineer', 'Scientist']})

df2 = pd.DataFrame({'Name': ['David', 'Joshua', 'Joe', 'Jeanne'],
'Year Hired': [2018, 2017, 2020, 2018]})

df3 = pd.DataFrame({'Name': ['David', 'Joshua', 'Joe', 'Jeanne'],
'No of Leaves': [15, 3, 10, 12]})

In [ ]:
df1

     Name       Role
0     Joe    Manager
1  Joshua  Developer
2  Jeanne   Engineer
3   David  Scientist

In [ ]:
df2

     Name  Year Hired
0   David        2018
1  Joshua        2017
2     Joe        2020
3  Jeanne        2018

In [ ]:
pd.merge(df1, df2)

     Name       Role  Year Hired
0     Joe    Manager        2020
1  Joshua  Developer        2017
2  Jeanne   Engineer        2018
3   David  Scientist        2018

In [ ]:
## Let's merge on Role being a key

pd.merge(df1, df2, how='inner', on="Name")

     Name       Role  Year Hired
0     Joe    Manager        2020
1  Joshua  Developer        2017
2  Jeanne   Engineer        2018
3   David  Scientist        2018

In [ ]:
df1 = pd.DataFrame({'col1': ['K0', 'K0', 'K1', 'K2'],
                     'col2': ['K0', 'K1', 'K0', 'K1'],
                        'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3']})

df2 = pd.DataFrame({'col1': ['K0', 'K1', 'K1', 'K2'],
                               'col2': ['K0', 'K0', 'K0', 'K0'],
                                  'C': ['C0', 'C1', 'C2', 'C3'],
                                  'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
df1

  col1 col2   A   B
0   K0   K0  A0  B0
1   K0   K1  A1  B1
2   K1   K0  A2  B2
3   K2   K1  A3  B3

In [ ]:
df2

  col1 col2   C   D
0   K0   K0  C0  D0
1   K1   K0  C1  D1
2   K1   K0  C2  D2
3   K2   K0  C3  D3

In [ ]:
pd.merge(df1, df2, how='inner', on=['col1', 'col2'])

  col1 col2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [ ]:
pd.merge(df1, df2, how='outer', on=['col1', 'col2'])

  col1 col2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [ ]:
pd.merge(df1, df2, how='left')

  col1 col2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

In [ ]:
pd.merge(df1, df2, how='right')

  col1 col2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

#### Joining

Joining is a simple way to combine columns of two dataframes with different indexes.

In [ ]:
df1 = pd.DataFrame({'Col1': ['A', 'B', 'C'],
                     'Col2': [11, 12, 13]},
                      index=['a', 'b', 'c'])

df2 = pd.DataFrame({'Col3': ['D', 'E', 'F'],
                    'Col4': [14, 14, 16]},
                      index=['a', 'c', 'd'])

In [ ]:
df1

  Col1  Col2
a    A    11
b    B    12
c    C    13

In [ ]:
df2

  Col3  Col4
a    D    14
c    E    14
d    F    16

In [ ]:
df1.join(df2)

  Col1  Col2 Col3  Col4
a    A    11    D  14.0
b    B    12  NaN   NaN
c    C    13    E  14.0

In [ ]:
df2.join(df1)

  Col3  Col4 Col1  Col2
a    D    14    A  11.0
c    E    14    C  13.0
d    F    16  NaN   NaN

You can see that with `df.join()`, the alignment of data is on indexes.

In [ ]:
df1.join(df2, how='inner')

  Col1  Col2 Col3  Col4
a    A    11    D    14
c    C    13    E    14

In [ ]:
df1.join(df2, how='outer')

  Col1  Col2 Col3  Col4
a    A  11.0    D  14.0
b    B  12.0  NaN   NaN
c    C  13.0    E  14.0
d  NaN   NaN    F  16.0

Learn more about Merging, Joining, and Concatenating the Pandas Dataframes [here](https://pandas.pydata.org/docs/user_guide/merging.html).

<a name='1-8'></a>
### H. Beyond Dataframes: Working with CSV and Excel

In this last section of Pandas' fundamentals, we will see how to read real world data with different formats: CSV and Excel

#### CSV and Excel

Let's use california housing dataset.

In [ ]:
# Let's download the data

!curl -O https://raw.githubusercontent.com/nyandwi/public_datasets/master/housing.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1390k  100 1390k    0     0  3208k      0 --:--:-- --:--:-- --:--:-- 3203k

In [ ]:
data = pd.read_csv('housing.csv')

In [ ]:
data.head()

In [ ]:
type(data)

In [ ]:
## Exporting dataframe back to csv

data.to_csv('housing_dataset', index=False)

If you look into the folder sidebar, you can see `Housing Dataset`.

In [ ]:
## Exporting CSV to Excel

data.to_excel('housing_excel.xlsx', index=False)

ModuleNotFoundError: No module named 'openpyxl'

In [ ]:
## Reading the Excel file back

excel_data = pd.read_excel('housing_excel.xlsx')

In [ ]:

excel_data.head()

<a name='2'></a>
## Real World: Exploratory Data Analysis (EDA)

All above was the basics. Let us apply some of these techniques to the real world dataset, `Red wine quality`.

In [ ]:
!curl -O https://raw.githubusercontent.com/nyandwi/public_datasets/master/winequality-red.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   98k  100   98k    0     0   525k      0 --:--:-- --:--:-- --:--:--  527k

In [ ]:
wine_data = pd.read_csv('/content/winequality-red.csv')

In [ ]:
# Displaying the head of the dataset

wine_data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [ ]:
# Displaying the tail of the dataset

wine_data.tail()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
# Displaying summary statistics

wine_data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,8.319637,0.527821,0.270976,2.538806,0.087467,15.874922,46.467792,0.996747,3.311113,0.658149,10.422983,5.636023
std,1.741096,0.179060,0.194801,1.409928,0.047065,10.460157,32.895324,0.001887,0.154386,0.169507,1.065668,0.807569
min,4.600000,0.120000,0.000000,0.900000,0.012000,1.000000,6.000000,0.990070,2.740000,0.330000,8.400000,3.000000
25%,7.100000,0.390000,0.090000,1.900000,0.070000,7.000000,22.000000,0.995600,3.210000,0.550000,9.500000,5.000000
50%,7.900000,0.520000,0.260000,2.200000,0.079000,14.000000,38.000000,0.996750,3.310000,0.620000,10.200000,6.000000
75%,9.200000,0.640000,0.420000,2.600000,0.090000,21.000000,62.000000,0.997835,3.400000,0.730000,11.100000,6.000000
max,15.900000,1.580000,1.000000,15.500000,0.611000,72.000000,289.000000,1.003690,4.010000,2.000000,14.900000,8.000000

In [ ]:
# Displaying quick information about the dataset

wine_data

In [ ]:
# Checking missing values

wine_data.isnull()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,False,False,False,False,False,False,False,False,False,False,False,False
1595,False,False,False,False,False,False,False,False,False,False,False,False
1596,False,False,False,False,False,False,False,False,False,False,False,False
1597,False,False,False,False,False,False,False,False,False,False,False,False
1598,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
# wine quality range from 0 to 10. The higher the quality value, the good wine is

wine_data['quality'].value_counts()

quality
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [ ]:
wine_data.groupby('quality').size()

quality
3     10
4     53
5    681
6    638
7    199
8     18
dtype: int64

In [ ]:
wine_data.groupby('quality').mean()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
quality,,,,,,,,,,,
3,8.360000,0.884500,0.171000,2.635000,0.122500,11.000000,24.900000,0.997464,3.398000,0.570000,9.955000
4,7.779245,0.693962,0.174151,2.694340,0.090679,12.264151,36.245283,0.996542,3.381509,0.596415,10.265094
5,8.167254,0.577041,0.243686,2.528855,0.092736,16.983847,56.513950,0.997104,3.304949,0.620969,9.899706
6,8.347179,0.497484,0.273824,2.477194,0.084956,15.711599,40.869906,0.996615,3.318072,0.675329,10.629519
7,8.872362,0.403920,0.375176,2.720603,0.076588,14.045226,35.020101,0.996104,3.290754,0.741256,11.465913
8,8.566667,0.423333,0.391111,2.577778,0.068444,13.277778,33.444444,0.995212,3.267222,0.767778,12.094444

<a name='0'></a>

### [BACK TO TOP](#0)

In [ ]:
# prompt: wine quality range from 0 to 10. The higher the quality value, the good wine is

wine_data.groupby('quality').size()